absl-py==1.0.0
accelerate==0.7.1
aiohttp==3.7.4.post0
alabaster==0.7.12
anaconda-client==1.9.0
anaconda-navigator==2.1.1
anaconda-project==0.10.1
antlr4-python3-runtime==4.8
anyio==2.2.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asn1crypto==1.4.0
asteroid-filterbanks==0.4.0
asteroid==0.4.4
astroid==2.6.6
astropy==4.3.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
audiomentations==0.16.0
audioread==2.1.9
autopep8==1.5.7
babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==2.3.0
bkcharts==0.2
black==19.10b0
bleach==4.0.0
bokeh==2.4.1
boto==2.49.0
bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.0.0
catalyst==22.4
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
clldutils==3.8.0
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.4
colorlog==5.0.1
conda-build==3.21.5
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
conda==4.10.3
configparser==5.0.2
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography==3.4.8
csvw==1.11.0
cycler==0.10.0
cython==0.29.24
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
distributed==2021.10.0
docker-pycreds==0.4.0
docutils==0.17.1
dtw-python==1.1.6
easydict==1.9
editdistance==0.5.3
einops==0.4.1
entrypoints==0.3
et-xmlfile==1.1.0
fairseq==1.0.0a0+f2146bd
faiss-gpu==1.7.1.post2
fastcache==1.1.0
filelock==3.3.1
flake8==3.9.2
flask==1.1.2
fonttools==4.25.0
fsspec==2021.6.0
future==0.18.2
gdown==4.4.0
gevent==21.8.0
gitdb==4.0.7
gitpython==3.1.18
glob2==0.7
gmpy2==2.0.8
google-auth-oauthlib==0.4.6
google-auth==2.6.6
greenlet==1.1.1
grpcio==1.44.0
h5py==3.3.0
heapdict==1.0.1
html5lib==1.1
huggingface-hub==0.5.1
hydra-core==1.0.6
hydra-slayer==0.4.0
idna==3.2
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.1
inflection==0.5.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.4.1
ipython-genutils==0.2.0
ipython==7.29.0
ipywidgets==7.6.5
isodate==0.6.0
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
jeepney==0.7.1
jinja2-time==0.2.0
jinja2==2.11.3
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
julius==0.2.6
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-server==1.4.1
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.0
jupyterlab==3.2.1
kaldi-io==0.9.4
keyring==23.1.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libarchive-c==2.9
librosa==0.9.1
lighthubert==0.1.0+8a95a95
llvmlite==0.38.0
locket==0.2.1
lxml==4.6.3
markdown==3.3.6
markupsafe==1.1.1
matplotlib-inline==0.1.2
matplotlib==3.4.3
mccabe==0.6.1
mir-eval==0.7
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==5.1.0
multipledispatch==0.6.0
munkres==1.1.4
mutagen==1.45.1
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
normalise==0.1.8
nose==1.3.7
notebook==6.4.5
npy-append-array==0.9.6
numba==0.55.1
numexpr==2.7.3
numpy==1.21.6
numpydoc==1.1.0
oauthlib==3.2.0
olefile==0.46
omegaconf==2.0.6
openpyxl==3.0.9
packaging==21.0
pandas==1.3.4
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
path==16.0.0
pathlib2==2.3.6
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pb-bss-eval==0.0.2
pep8==1.7.1
pesq==0.0.3
pexpect==4.8.0
phonemizer==2.2.2
pickleshare==0.7.5
pillow==8.4.0
pip==21.2.4
pkginfo==1.7.1
pluggy==0.13.1
ply==3.11
pooch==1.4.0
portalocker==2.0.0
poyo==0.5.0
presets==0.1.3
progressbar==2.5
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.20.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.44.1
pydeprecate==0.3.0
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.3.1
pygments==2.10.0
pyjwt==2.1.0
pylint==2.9.6
pyls-spyder==0.4.0
pyodbc==4.0.0-unsupported
pyopenssl==21.0.0
pyparsing==3.0.4
pyrsistent==0.18.0
pysndfx==0.3.6
pysocks==1.7.1
pystoi==0.3.3
pytest==6.2.4
python-dateutil==2.8.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytorch-lightning==1.3.4
pytorch-ranger==0.1.1
pytz==2021.3
pywavelets==1.1.1
pyxdg==0.27
pyyaml==5.4.1
pyzmq==22.2.1
qdarkstyle==3.0.2
qstylizer==0.1.10
qtawesome==1.0.2
qtconsole==5.1.1
qtpy==1.10.0
regex==2021.8.3
requests-oauthlib==1.3.1
requests==2.26.0
resampy==0.2.2
rfc3986==1.5.0
roman==3.3
rope==0.19.0
rsa==4.8
rtree==0.9.7
ruamel-yaml-conda==0.15.100
s3prl==0.3.1
sacrebleu==2.0.0
sacremoses==0.0.53
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.170444
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.1
secretstorage==3.3.1
segments==2.2.0
send2trash==1.8.0
sentencepiece==0.1.95
sentry-sdk==1.1.0
setuptools==58.0.4
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.3.0
soundfile==0.10.3.post1
soupsieve==2.2.1
sox==1.4.1
sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder-kernels==2.1.3
spyder==5.1.5
sqlalchemy==1.4.22
statsmodels==0.12.2
subprocess32==3.5.4
sympy==1.9
tables==3.6.1
tabulate==0.8.9
tbb==0.2
tblib==1.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.9.0
tensorboardx==2.2
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tinycss==0.4
tokenizers==0.12.1
toml==0.10.2
toolz==0.11.1
torch-optimizer==0.1.0
torch-stoi==0.1.2
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchmetrics==0.3.2
torchvision==0.11.2+cu113
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.18.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
unicodecsv==0.14.1
unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.26.7
wandb==0.10.32
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.0.2
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.1.1
xlrd==2.0.1
xlsxwriter==3.0.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarl==1.6.3
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0