torch==1.7.0
torchaudio==0.7.0
torchvision==0.8.0
joblib==0.12.4
librosa==0.7.2
scipy>=1.5.4
PyYAML==5.1.2
tqdm==4.56.0
numpy>=1.19.5
pandas>=1.1.5
tensorboardX==1.9
matplotlib>=3.3.4
Pillow>=6.2.2
numba==0.48
gdown>=3.12.2
cython==0.29.21
