antlr4-python3-runtime==4.8
apex==0.1
appdirs==1.4.4
asn1crypto==1.4.0
audioread==2.1.9
breezy==3.1.0
CacheControl==0.12.6
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
configobj==5.0.6
contextlib2==0.6.0.post1
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.21
dataclasses==0.6
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
dulwich==0.20.11
fairseq==0.10.2
fastimport==0.9.8
filelock==3.0.12
future==0.18.2
gdown==3.12.2
greenlet==0.4.17
html5lib==1.1
hydra-core==1.0.6
idna==2.10
importlib-metadata==2.0.0
importlib-resources==5.1.2
iotop==0.6
isc==2.0
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.7.2
llvmlite==0.31.0
lockfile==0.12.2
matplotlib==3.3.4
mercurial==5.6
more-itertools==8.6.0
msgpack==1.0.0
namcap==3.2.10
nftables==0.1
numba==0.48.0
numpy==1.20.1
omegaconf==2.0.6
ordered-set==4.0.2
packaging==20.9
pandas==1.2.3
patiencediff==0.2.1
pep517==0.9.1
pew==1.2.0
Pillow==8.1.2
pipenv==2020.11.4
ply==3.11
portalocker==2.0.0
progress==1.5
protobuf==3.15.6
pyalpm==0.9.1
pycparser==2.20
pyelftools==0.26
PyGObject==3.38.0
pynvim==0.4.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2021.1
PyYAML==5.1.2
regex==2021.3.17
requests==2.24.0
resampy==0.2.2
resolvelib==0.5.1
retrying==1.3.3
sacrebleu==1.5.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.15.0
slip==0.6.5
slip.dbus==0.6.5
SoundFile==0.10.3.post1
SSSDConfig==2.4.0
tensorboardX==1.9
termcolor==1.1.0
terminaltables==3.1.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.8.0+cu111
torchaudio==0.8.0
torchvision==0.9.0+cu111
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.1.0
virtualenv-clone==0.5.4
webencodings==0.5.1
zipp==3.4.0
