name: CI

on:
  # Trigger the workflow on push to main or any pull request
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        python-version: ["3.10"]
        torchaudio-version: [0.13.1, 2.0.1, 2.1.2, 2.2.2, 2.3.1, 2.4.0]
        include:
          - os: ubuntu-20.04
            python-version: 3.9
            torchaudio-version: 0.13.1
          - os: ubuntu-20.04
            python-version: "3.11"
            torchaudio-version: 2.1.2
          - os: ubuntu-20.04
            python-version: "3.12"  # if not quoted, will be interpreted as 3.1
            torchaudio-version: 2.3.1

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsndfile1-dev sox git git-lfs

    - name: Upgrade pip and wheel
      run: pip3 install --upgrade pip wheel setuptools

    - name: Install dependencies for tests
      run: pip3 install -r requirements/dev.txt

    - name: Check coding style by ci/format.py
      run: |
        ./ci/format.py --check

    - name: Clean Docker space
      run: docker system prune -af

    # This can be very helpful for debugging
    # The action can create a SSH server for you to connect. After you
    # log into the machine hosted by GitHub, it becomes easy to debug
    # why the CI fails on a specific machine.

    # - name: Setup upterm session
    #   uses: lhotari/action-upterm@v1

    - name: Run tox for common upstream
      run: |
        tox -e common_upstream-audio${{ matrix.torchaudio-version }}
